<ion-header>  
  <ion-toolbar color="primary">  
    <ion-buttons slot="start">  
      <ion-menu-button color="dark"></ion-menu-button>   
    </ion-buttons>  
    <ion-title>  
      Product Line List
    </ion-title>  
  </ion-toolbar>   
</ion-header>  

<ion-content padding>
 <ion-fab vertical="bottom" horizontal="end" slot="fixed">
   <ion-fab-button (click)="addProductLine()">
     <ion-icon name="add"></ion-icon>
   </ion-fab-button>
 </ion-fab>
 <ion-searchbar [(ngModel)]="searchProductLine" (ionChange)="searchProductLineByName($event)" placeholder="Filter by name"></ion-searchbar>
 <ion-list>
   <ion-item button *ngFor="let item of (results | async)" [routerLink]="['/', 'products-lines', item.productLine1]">
     <ion-label text-wrap>
       <h2>{{ item.productLine1 }}</h2>     
     </ion-label>
   </ion-item>
 </ion-list>

</ion-content>
